@tailwind base;
@tailwind components;
@tailwind utilities;


.sign-in-div-img{
    background: url('/signup-signin-project/Images/page_header_bg.png') right top no-repeat;
    background-size: 100% 100%;     
}

.custom-border{
    border: 2px solid transparent;
    background: linear-gradient(to right, #fff, #fff), linear-gradient(to right, #f70000, #081eab);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}


.footer{
    
    font-family: Frutiger55, sans-serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1em;
    color: #fff;
    display: block;
    background: linear-gradient(180deg, #23236A 0, #107AC0 100%);
}


.hero-section{
    background-image: url(/signup-signin-project/Images/iphone\ img\ with\ text.jpeg);
    background-position: center;
}



