* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .header {
    color: white;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f5f5f5;
  }
  
  .navbar li {
    list-style: none;
  }
  
  .navbar a {
    text-decoration: none;
    color: black;
    margin-right: 20px;
  }
  
  .navbar .right a {
    color: #003399;
  }
  
  .main-nav {
    background-color: #003399;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .main-nav .logo {
    height: 50px;
  }
  
  .main-menu {
    display: flex;
    list-style: none;
  }
  
  .main-menu li {
    margin-right: 20px;
  }
  
  .main-menu a {
    text-decoration: none;
    color: white;
  }

 


  
  

  